/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #8B0000;
    color: white;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header h2 {
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #FFD700;
}

/* Sections générales */
section {
    padding: 50px 20px;
}

section h1 {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: #8B0000;
    font-family: 'Playfair Display', serif;
}

/* Accueil */
#acceuil {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbVhmu7a1i4X5s-xdYMJRec-Ntfmo6-GvutA&s") center/cover;
    height: 600px;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

#acceuil p {
    max-width: 700px;
    margin: auto;
    margin-top: 70px;
    font-size: 18px;
    color: black;
    font-weight: bolder;
}

/* Destinations */
.contenue {
    gap: 20px;
    display: flex;
}


.ville {
    transition: transform 0.1s ease;
}

.ville:hover {
    transform: scale(1.1);
}


.text {
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-width: 215px;
    max-width: 225px;
    height: 360px;
}

.text:hover {
    background-color: #FFF8E7;
}

.ville img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin: 10px 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#culture h3 {
    font-style: italic;
    color: #333333;
}

.card ul,
.card h4 {
    display: none;
}

.card {
    transition: 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    background-color: #FFF8E7;
}

.card:hover ul,
.card:hover h4 {
    display: block;

}


.container p {
    text-indent: 10px;

}

.card {
    background-color: #f9f9f9;
    border-left: 5px solid #8B0000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    width: 700px;
    margin-left: 250px;

}

.card h3 {
    color: #8B0000;
}

.card ul {
    margin-left: 15px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.info h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.text2:nth-of-type(1),
.text2:nth-of-type(2) {
    width: calc(50% - 10px);
}

.text2:nth-of-type(3),
.text2:nth-of-type(4),
.text2:nth-of-type(5) {
    width: calc(33.33% - 14px);
}

.text2 {
    background-color: #FFF8E7;
    padding: 15px;
    border-radius: 50px;
    border: #8B0000 solid 5px;
    animation-name: changecolor;
    animation-duration: 6s;
}

@keyframes changecolor {
    0% {
        background-color: #FFF8E7;
    }

    50% {
        background-color: #8B0000;
    }

    100% {
        background-color: #FFF8E7;
    }
}

.text2 h2 {
    text-indent: 10px;
    text-decoration: underline;
    color: #333333;
}
