body {
    margin: 0;
}

main {
    margin-top: 70px;
}

#acceuil {
    background-image: url("https://images.ctfassets.net/bth3mlrehms2/5OesCdeX7fvT0vOUOKmE5q/590a021e66615024ad63a7c1d529b5ec/Casablanca__Casablanca-Settat__Marokko..jpg?w=800&q=60&fm=webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 10%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 80px;
    z-index: 1000;
}

header h2 {
    margin: 0;
    font-size: 24px;
    color: red;
    padding-left: 10px;
    font-style: italic;
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 6px 10px;

}

li a:hover {
    color: white;
    background-color: red;
    border-radius: 5px;


}

#acceuil {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: grey;
}

#acceuil h1 {
    margin-bottom: 30px;
    color: green;
}

#acceuil p {
    font-size: 18px;
    max-width: 900px;
    line-height: 1.6;
    font-weight: bolder;
    color: black;
}

#destinations {
    padding: 10px;
    background-color: #D6E6F2;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
}

#destinations h1 {
    text-align: center;
    color: #2F6FA8;
    font-family: 'Courier New', Courier, monospace;

}

#destinations h3:hover {
    color: green;
    font-size: x-large;
}

.text {
    text-align: center;
}

.contenue {
    display: flex;
}

img {
    width: 100%;
    height: 130px;
    border-radius: 15px 15px 0 0;
}

.ville {

    min-width: 215px;
    max-width: 225px;
    height: 300px;
    background-color: white;
    margin: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
    padding-top: 0;
    border-radius: 15px;
    transition: transform 0.1s ease;
}

.ville:hover {
    transform: scale(1.1);
}

.container {
    padding: 20px;
    flex-direction: column;
    display: flex;
    gap: 15px;
    background-color: #D6E6F2;

}

.container h1 {
    text-align: center;
    color: #2F6FA8;
    margin: 30px;
}

#culture {
    margin-top: 0;
    padding-top: 20px;
    position: relative;

}

[class^="card"] {
    position: relative;
    height: 70px;
    width: 50%;
    margin-bottom: 40px;
    padding: 15px;
    background: #EAF4FB;
    border-radius: 10px;
    border-left: solid green 8px;
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 40px;

}

[class^="card"]:hover {
    height: 340px;
}

#culture h3 {
    font-style: oblique;
    font-family: 'Poppins', sans-serif;
    text-decoration: underline;

}

#culture p {
    background-color: rgb(232, 140, 140);
    border-radius: 10px;
    height: 15%;
    width: 10%;
    padding: 5px;
    margin-left: 5px;

}

#culture h4 {
    font-style: oblique;
    color: green;
}

li::marker {
    color: green;
}
